body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    height: 62px;
    border-bottom: 1px solid #133783;
    background: #3B5998;
    padding-top: 20px;
}

.banner {
    width: 992px;
    margin: 0 auto;
}

.logo {
    width: 62.5%;
    float: left;
    
}

.faceook-login {
    width: 37.5%;
    float: right;
    margin-right: 155px;
}

.logo img {
    padding-top: 25.6px;
    margin-left: -5px;
    margin-top: -35px;
    height: 72.9px;
}

.banner label {
    color: #fff;
}

.email {
    float: left;
    margin: -10px;
}

.email label {
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 12px;
}

.email input[type="text"] {
    height: 20px;
    width: 150px;
    border: 1px solid #1D2A5B;
    margin-top: 6px;
}

.password {
    float: left;
    margin: -10px;
    margin-left: 23px;
}

.password label {
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 12px;
}

.password input[type="password"] {
    height: 20px;
    width: 150px;
    border: 1px solid #1D2A5B;
    margin-top: 6px;
    margin-bottom: 3px;
}

.password a {
    color: #8FB4D8;
    font-size: 12px;
    text-decoration: none; 
}

.password a:hover {
    text-decoration: underline;
}

.login-button {
    float: left;
    margin-top: 13px;
    margin-left: 15px;
    margin-left: 23px;
}

.login-button input[type="submit"] {
    background: #4267B2;
    border: 1px solid #29487D;
    border-radius: 2px;
    color: #fff;
    height: 25px;
    width: 48px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.login-button input[type="submit"]:hover {
    background: #3B5998;
}

.clearfix {
    clear: both;
}

.content-block {
    width: 992px;
    margin: 0 auto;
}

.facebook-connect {
    float: left;
    width: 50%;
    margin-top: 46px;
    margin-left: 8px;
}

.facebook-connect p {
    color: #0E385F;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: -9px;
    margin-bottom: -1px;
    width: 450px;
    word-spacing: -1px;
}

.create-account {
    float: right;
    width: 50%;
}

.content-container {
    background: linear-gradient(#fff, #D9DDEB);
    overflow: hidden;
}

.create-account h2 {
    font-size: 36px;
    margin-top: -274px;
    margin-left: 90px;
}

.create-account .free {
    font-size: 19px;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: 91px;
}

.create-account .account {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 91px;
    padding-top: 3px;
}

.account input[type="text"]{
    height: 26px;
    margin-bottom: 9px;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 18px;
    margin-left: 0px;
    border: 1px solid #BDC7D8;
}

.account input[type="password"]{
    height: 26px;
    margin-top: 2px;
    margin-bottom: 21px;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 18px;
    margin-left: 0px;
    border: 1px solid #BDC7D8;
}

.account .mobile-or-email, .account .password {
    width: 92.5% !important;
}

.account .fname {
    width: 170px;
    float: left;    
}

.account .sname {
    width: 170px;
    float: right;
    margin-right: 9px;
}

.account label {
    font-family: inherit;
    font-size: 18px;
    margin-bottom: 15px;
}

.account #day {
    margin-top: 6px;
    font-size: 13px;
    height: 30px;
    padding: 5px;
    border: 1px solid #bdc7d8;
    display: inline-block;
    position: relative;
}

.account #month {
    margin-top: 6px;
    margin-left: -5px;
    font-size: 13px;
    height: 30px;
    padding: 5px;
    border: 1px solid #bdc7d8;
    display: inline-block;
    position: relative;
}

.account #year {
    margin-top: 6px;
    margin-left: -6px;
    font-size: 13px;
    height: 30px;
    padding: 5px;
    border: 1px solid #bdc7d8;
    display: inline-block;
    position: relative;
}

.account .hint {
    margin-top: -50px;
    margin-right: 59px;
    height: 30px;
    padding: 5px;
    display: inline-block;
    position: relative;
    float: right;
    text-decoration: none;
    color: #365899;
    font-size: 11px;
    line-height: 15px;
}

.account .hint:hover {
    text-decoration: underline;
}

.account a {
    text-decoration: none;
    color: #365899;
    font-size: 11px;
}

.account a:hover {
    text-decoration: underline;
}

.gender {
    margin-top: -16px;
}

.gender .gen {
    cursor: pointer;
}

.account #tnc {
    color: #777;
    font-size: 11px;
    width: 316px;
    line-height: 130%;
    margin-bottom: 15px;
}

.account input[type="submit"] {
    width: 201px;
    height: 41px;
    background: linear-gradient(#67ae55, #578843);
    box-shadow: inset 0 1px 1px #a4e388;
    border: 1px solid #3B6E22;
    border-radius: 5px;
    font-size: 18px;
    color: #FFF;
    margin-top: -10px;
    margin-bottom: 22px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    line-height: 126%;
}

.account input[type="submit"]:hover {
    cursor: pointer;
    background: #69a74e !important;
}

.account #reg_pages_msg {
    color: #666;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.34;
    margin-bottom: 27px;
}

.account #reg_pages_msg_lnk {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.34;
}

.footer {
    margin-top: -4px;
    margin-right: 167px;
    margin-left: 185px;
    font-size: 12px;
    color: #847373; 
}

.footer a {
    text-decoration: none;
    color: #365899;
}

#contentCurve {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-top: -11px;
    margin-bottom: 8px;
    margin-right: 10px
    margin-left: 15px;
}

.navGrid {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 20px;
    width: 911px;
    white-space: nowrap;
}

.navGrid .trVal {
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 19px;  
}

.sp_iitC0fV9-hG.sx_1bf06e {
    width: 16px;
    height: 16px;
    background-position: 0 -138px;
}

._41ug .img {
    top: 1px;
    vertical-align: middle;
}

i.img {
    ms high contrast adjust: none;
}

.sp_iitC0fV9-hG {
    background-image: url(images/cvha_b6qJlQ.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
}

._517i, ._517i._42fr:active, ._517i._42fr._42fs {
    height: 18px;
    line-height: 18px;
}

._517h, ._59pe:focus, ._59pe:hover {
    background-color: #f6f7f9;
    border-color: #ced0d4;
    color: #4b4f56;
}

._4jy0 {
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}

._4jy0 {
    border: 1px solid;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}

._42ft {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}

.sp_iitC0fV9-hG.sx_8ad188 {
    width: 12px;
    height: 12px;
    background-position: 0 -155px;
}

._4jy0 .img {
    bottom: 1px;
    position: relative;
    vertical-align: middle;
}

.footer .copyright{
    font-size: 11px;
    color: #847373;
    margin-top: 17px;
    margin-bottom: 26px;
}